# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Popular languages for Data Science are Python, R, Sql etc.
- key libraries used in Data Science are Pandays, Numpy, Scikit-learn.
- Introduce arithmetic expressions in Python
- Demonstrate the use of code cells for calculations

# Some of the popular languages that Data Scientists use are:

# 1. Python
# 2. R
# 3. SQL

# Some of the commonly used libraries used by Data Scientists include:

# 1. Pandas
# 2. NumPy
# 3. Scikit-learn
# 4. TensorFlow
# 5. Keras

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author

Lakshmi Holla

Niveditha Pandith